:root {
  --bs-primary-color: #ff5700;
  --bs-grey-100: #fafafa;
  --bs-grey-200: #cccccc;
  --bs-grey-400: #bcbcbc;
  --bs-grey-700: #919191;
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary-color);
  --bs-btn-hover-bg: #fb9700;
  --bs-btn-active-bg: #d84800;
  --bs-btn-success: #29d245;
  --bs-btn-active-success: #06ba27;
}
.accordion-button-enhanced::after{
  margin-right: auto;
  margin-left: 0px;
  color: black !important;
}
.mx-auto{
  margin-inline: auto !important;
}
.accordion-button-enhanced:not(.collapsed){
  color: black !important;
  background-color: transparent !important;
}
.accordion-button-enhanced:focus{
  box-shadow: none !important;
}
.btn-success{
  background-color: var(--bs-btn-success) !important;
  border-color:  var(--bs-btn-success) !important;
  box-shadow: none;
}
.btn-success:active, .btn-success:focus{
  background-color: var(--bs-btn-active-success) !important;
  border-color:  var(--bs-btn-active-success) !important;
  box-shadow: none;
}
body{
  color: #565656;
}
.place-items-center{
  place-items: center!important;
  place-content: center !important;
}
.dropdown-toggle::after{
  color: transparent !important;
}
.dropdown-toggle{
  display: flex !important;
  justify-content: space-between !important;
}

.btn-primary{
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-bg);
  outline: none !important;
  box-shadow: none !important;
}
.btn-primary:hover, .btn-primary:focus{
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-bg);
}
.btn-primary:active{
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-bg);
}

.btn-outline-primary {
  outline: none !important;
  box-shadow: none !important;
  font-weight: 400;
  border-width: 1px;
  border-color: var(--bs-btn-bg);
  color: var(--bs-btn-bg);
}
.btn-outline-primary:hover, .btn-outline-primary:focus{
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-bg);
}
.btn-outline-primary:active{
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-bg);
}
.btn-outline-secondary:active, .btn-outline-secondary:focus{
  outline: none !important;
  box-shadow: none !important;
}
.btn-outline-secondary:active{
  background-color: #4d5359 !important;
}

.shadow-custom{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}
.shadow-custom-inset{
  box-shadow: inset rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px !important;
}
.text-clickable{
  user-select: none;
  cursor: pointer;
}
.text-clickable:active,.text-clickable:focus{
  color: var(--bs-btn-active-bg) !important;
}
.text-primary {
  color: var(--bs-primary-color) !important;
}
.text-semi-secondary {
  color: var(--bs-grey-700) !important;
}
.text-secondary {
  color: var(--bs-grey-200) !important;
}
.bg-primary{
  background-color: var(--bs-primary-color) !important;
}
.bg-secondary {
  background-color: var(--bs-grey-100) !important;
}
.placeholder-grey::placeholder{
  color: var(--bs-grey-400) !important; 
}
.placeholder-secondary::placeholder{
  color: var(--bs-grey-200) !important;
}
.placeholder-sm::placeholder{
  font-size: 12px !important;
}
.border-secondary {
  border-color: var(--bs-grey-200) !important;
}
.border-primary {
  border-color: var(--bs-primary-color) !important;
}
.rounded-xl{
  border-radius: 10px !important;
}
.fs-6-5 {
  font-size: 14px;
}
.fs-7 {
  font-size: 12px;
}
.fs-8 {
  font-size: 10px;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 8px;
}
.mb-5{margin-bottom: 40px !important;}
.mb-6{margin-bottom: 48px !important;}
.mb-7{margin-bottom: 56px !important;}
.mb-8{margin-bottom: 64px !important;}

.cursor-pointer{
  cursor: pointer;
}
.display-8{
  font-size: calc(0.5rem + 1vw);
  font-weight: 400;
  line-height: 1.7;
}
.border-underline{
  border-bottom: 1px solid var(--bs-grey-200);
}

/* Remove increment arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}