<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.1/swiper-bundle.min.css"/>

- var imgs = ["./assets/details-ford-blue-1.webp","./assets/details-2.webp","./assets/details-3.webp","./assets/details-4.webp","./assets/details-5.webp","./assets/details-6.webp","./assets/details-7.webp","./assets/details-8.webp","./assets/details-9.webp","./assets/details-10.webp","./assets/details-11.webp","./assets/details-12.webp"]


<!-- Swiper -->
<div class="detail-parent-slider position-relative">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper mt-6">
            //- try it
            //- <div class="swiper myGallarySwiper2 swiper-slide">
            //-     <div class="swiper-wrapper">
            //-         each img in imgs
            //-             <div class="swiper-slide">
            //-                 <img src="#{img}" class="h-100" style="object-fit: contain;"/>
            //-             </div>
            //-     </div>
            //-     <div class="swiper-pagination text-white"></div>
            //- </div>

            <div class="swiper-slide">
                <img alt="img1" src="./assets/details-ford-blue-1.webp" class="__car-detail-img">
                <p class="display-1 fw-bolder position-absolute __car-detail-color">BLUE</p>
            </div>
            <div class="swiper-slide">
                <img alt="img2" src="./assets/details-ford-page-1.webp" class="__car-detail-img">
                <p class="display-1 fw-bolder position-absolute __car-detail-color">WHITE</p>
            </div>
        </div>
    </div>
    
    //- side info div
    <button class="btn position-absolute shadow-sm px-5 fw-bold bg-white borderless rounded-pill __car-detail-btn d-none d-md-inline-block">احجزها الآن</button>
    
    <div class="position-absolute bg-primary d-rtl w-50 d-none d-md-inline-block __car-detail-div">
        <img src="./assets/brands-12.webp" alt="brand_img"  class="__car-detail-brand">
        <div style="z-index: 2;" class="my-4 d-rtl w-max-content">
            <h2 class="h4 fw-bolder">نيسان صني</h2>
            <p class="h5">الشكل الجديد 2022 ستاندر SV</p>
            <div class="row mt-4 w-100" style="min-width: 200px;">
                <div class="col-6">
                    <p class="fs-9 mb-1">السعر قبل الضريبة</p>
                    <p class="h5">64,000 ريال</p>
                </div>
                <div class="col-6">
                    <p class="fs-9 mb-1">السعر بعد الضريبة</p>
                    <p class="h5">56,000 ريال</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Swiper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.1.1/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
.
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: "auto",
    centeredSlides: true,
    loop: true,
    spaceBetween: 30,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    });

    var swiper = new Swiper(".myGallarySwiper", {
    loop: false,
    spaceBetween: 10,
    slidesPerView: "auto",
    freeMode: true,
    watchSlidesProgress: true,
    });

    var swiper2 = new Swiper(".myGallarySwiper2", {
    pagination: {
        el: ".swiper-pagination",
        type: "fraction",
    },
    keyboard: {
        enabled: true,
    },
    allowSlidePrev: false,
    grabCursor: true,
    loop: false,
    spaceBetween: 10,
    navigation: {
        nextEl: ".swiper-button-prev",
        prevEl: ".swiper-button-next",
    },
    thumbs: {
        swiper: swiper,
    },
    });
</script>