<style>
.   
    .mobile-app {
    display: flex;
    justify-content: center;
    transform: scale(1.8)
    }
    .mobile-app button {
    display: flex;
    background: #060606;
    border-radius: 4px;
    margin: 5px;
    align-items: center;
    }
    .mobile-app i {
    color: #fff;
    font-size: 25px;
    margin-right: 4px;
    }
    .mobile-app .google-play p {
    color: #9e9e9e;
    font-size: 6px;
    margin-bottom: 0;
    }
    .mobile-app .google-play h6 {
    margin-bottom: 0;
    font-size: 9px;
    font-weight: bold;
    color: white;
    }
</style>
<div class="text-center">
    h1(class="text-primary border-underline d-inline-block pb-4 m-4") يمكنك العثور علينا أيضاً على

    <div class="d-flex bg-secondary flex-wrap" style="min-height: 300px; align-items: center;">
        <div class="text-center" style="flex: 1; min-width: 320px;">
            p(class="h4 mb-4 mx-2 ") للحصول على العديد من المزايا وإستقبال العروض الحديثة والمزادات يمكنك تحميل التطبيق والمتابعة
            p(class="h6 mb-4") متوفر الآن على
             <div class="mobile-app">
                <button>
                    <div class="google-play">
                        <p>Available for free</p>
                        <h6>Google play</h6>
                    </div>
                    <i class="fa-brands fa-google-play text-white"></i>
                </button>
                <button>
                    <div class="google-play">
                        <p>Download for free</p>
                        <h6>App store</h6>
                    </div>
                    <i class="fa-brands fa-apple text-white"></i>
                </button>
            </div>
        </div>
        <div style="flex: 1; padding: 40px; padding-inline: 120px;" class="d-none d-md-inline-block">
            <div style="border-radius: 32px 0 32px 0; overflow: hidden; padding: 32px; height: 300px; background-image: url(../assets/slider-3.jpg); background-position: center center; background-size: cover; background-repeat: no-repeat;">
        </div>
    </div>
</div>