<style>
.
    .sideFilter input[type="checkbox"] + label > .fa-check{
        color: white;
        background-color: white;
        cursor: pointer;
    }
</style>

<div  class="modal fade" id="sideFilterPartsModal" tabindex="-1" aria-labelledby="sideFilterPartsLabel" aria-hidden="true" style=" backdrop-filter: blur(4px);">
    <div class="modal-dialog p-4 overflow-hidden" style="border:none;">
        <div class="modal-content position-relative p-0">
            <div class="modal-body p-0">
                <!-- اعتقد ممكن تتحسن عن كده -->
                include ./side-filter-parts
            </div>
        </div>
    </div>
</div>