<style>
.
    /** @format */
    body {
    font-family: "Montserrat", sans-serif;
    font-family: "Noto Kufi Arabic", sans-serif;
    }

    /* start newcars search */
    .newCars-search {
    margin-top: 40px;
    }
    .newCars-search h2 {
    color: #ff5700;
    font-weight: bold;

    margin-bottom: 15px;
    }
    .newCars-search hr {
    width: 78px;
    opacity: 1;
    margin-bottom: 30px;
    color: #efefef;
    }
    .newCars-search .type-card {
    display: flex;
    width: 100%;
    background: #fafafa;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 15px -8px rgb(0 0 0 / 31%);
    justify-content: space-between;
    align-items: center;
    }
    .newCars-search .type-card p {
    margin-bottom: 0;
    color: #bcbcbc;
    }
    .newCars-search .type-card i {
    color: #ff5700;
    }

    /* end newcars search */
</style>

<!-- start search section -->
<div class="newCars-search">
    <div class="fluid px-4">

    <div class="row">
        <div class="col-md-4 position-relative bg-primary mb-4" style="height: 400px; border-radius: 68% 25% 25% 38% / 64% 25% 25% 34%;">
            <img src="../assets/car-10.png" width="100%" alt="search" style="position: absolute; bottom: 12px;">
        </div>
        <div class="col-md-8">
            <h2>البحث</h2>
            <hr>
            <div class="search-type">
                <div class="row">
                    <div class="col">
                        <div class="type-card">
                            <p>الماركة</p>
                            <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                        </div>
                        <div class="type-card">
                            <p>النوع</p>
                            <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                        </div>
                        <div class="type-card">
                            <p>الوارد</p>
                            <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="type-card">
                            <p>المواصفات</p>
                            <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                        </div>
                        <div class="type-card">
                            <p>الموديل</p>
                            <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                        </div>
                        <div class="type-card">
                            <p>الجير</p>
                            <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="type-card">
                            <p>اللون</p>
                            <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                        </div>
                        <div class="type-card">
                            <p>الشكل</p>
                            <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                        </div>
                        <div class="type-card">
                            <p>نوع الوقود</p>
                            <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>