<style>
.
    /** @format */
    body {
    font-family: "Montserrat", sans-serif;
    font-family: "Noto Kufi Arabic", sans-serif;
    }

    /* start newcars search */
    .newCars-search {
    margin-top: 40px;
    }
    .newCars-search h2 {
    color: #ff5700;
    font-weight: bold;

    margin-bottom: 15px;
    }
    .newCars-search hr {
    width: 78px;
    opacity: 1;
    margin-bottom: 30px;
    color: #efefef;
    }
    .newCars-search .type-card {
    display: flex;
    background: #fafafa;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0px 2px 15px -8px rgb(0 0 0 / 31%);
    justify-content: space-between;
    align-items: center;
    }
    .newCars-search .type-card p {
    margin-bottom: 0;
    color: #bcbcbc;
    }
    .newCars-search .type-card i {
    color: #ff5700;
    }

    .newCars-search .form-select{
        flex-grow: 1;
        padding: 15px !important;
        border-radius: 15px;
        border: none;
        padding: 0.375rem 0.75rem 0.375rem 2.25rem;
        filter: brightness(0.98);
        box-shadow: 0px 2px 15px -8px rgb(0 0 0 / 31%);
        width: 30%;
        max-width: 30%;
        margin-inline: 1.5%;
    }
    .newCars-search .form-select:focus{
        border-color: var(--bs-grey-700);
    }
    #myRange{
        accent-color: var(--bs-primary-color); 
        direction: ltr; 
        width: 100%;
        background: white !important;
    }
    /* end newcars search */
</style>

- var options = ["الماركة", "المواصفات","اللون","النوع","الموديل","الشكل","الوارد","الجير","نوع الوقود"]

<!-- start search section -->
<div class="newCars-search">
    <div class="fluid px-4">

    <div class="row">
        <div class="col-md-4 position-relative bg-primary mb-4" style="height: 300px;align-self: end; border-radius: 68% 25% 25% 38% / 64% 25% 25% 34%;">
            <img src="./assets/car-10.png" width="100%" alt="search" style="position: absolute; bottom: 12px;">
        </div>
        <div class="col-md-8">
            <h2>البحث</h2>
            <hr>
            <div class="search-type mb-4">
                <div class="row">
                    each option in options
                        <select class="col-4 form-select text-secondary position-relative mb-4" aria-label="Default select example">
                            <option selected value="#{option}">#{option}</option>
                            <option value="placeholder">placeholder</option>
                        </select>
                </div>
                <div class="row fw-bolder fs-7 me-2 mt-4">
                    <div class="col-12 d-block d-md-none text-center mb-3">السعر أقل من</div>
                    <div class="col-1"></div>
                    <div class="col-2">
                        <span class="d-none d-md-inline">أقل من<br/> 900 ألف</span>
                        <span class="d-inline-block d-md-none text-center">900 </span>
                    </div>
                    <div class="col-2">
                        <span class="d-none d-md-inline">أقل من<br/> 500 ألف</span>
                        <span class="d-inline-block d-md-none text-center">500 </span>
                    </div>
                    <div class="col-2">
                        <span class="d-none d-md-inline">أقل من<br/> 200 ألف</span>
                        <span class="d-inline-block d-md-none text-center">200 </span>
                    </div>
                    <div class="col-2">
                        <span class="d-none d-md-inline">أقل من<br/> 100 ألف</span>
                        <span class="d-inline-block d-md-none text-center">100 </span>
                    </div>
                    <div class="col-2">
                        <span class="d-none d-md-inline">أقل من<br/> 50 ألف</span>
                        <span class="d-inline-block w-100 d-md-none text-center">50</span>
                    </div>
                    <div class="col-1"></div>
                </div>
                <input type="range" min="0" max="80" value="20" step="20" class="slider mb-4" id="myRange" style="width: 75%; margin-inline: 12.5%;">
            </div>
        </div>
    </div>
</div>