mixin slider-offers(more,items)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <style>
    .
        .swiper-offers {
            width: 100%;
            height: 440px;
            padding-top: 32px;
            padding-bottom: 32px;
            user-select: none;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: start;
        }
        
        .swiper-offers .swiper-button-next,
        .swiper-offers .swiper-button-prev{
            color: transparent;
        }

        .swiper-offers .swiper-slide {
            text-align: center;
            height: 50% !important;
            background-color: #fafafa !important;
            font-size: 18px;
            background: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
            border-radius: 8px;
            transform: skew(15deg, 15deg) rotate(-15deg) translateY(80px);
            opacity: 0.7;
            overflow: hidden;
            transition: height 0.4s width 0.4s background-color 3s !important;
            height: 35% !important;
            width: 22% !important;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        .swiper-offers .swiper-slide div ,.swiper-offers .swiper-slide img{
            transition-duration: 1s;
            display: block;
            max-height: 60%;
            object-fit: contain;
            transform: skew(-15deg, -15deg) rotate(13deg) translateX(-120px);
        }

        .swiper-offers .swiper-slide-next,.swiper-offers .swiper-wrapper:active .swiper-slide, .swiper-offers .swiper-wrapper:active .swiper-slide-active{
            height: 50% !important;
            width: max(28%, 235px) !important;
            opacity: 1;
            transform: skew(15deg, 15deg) rotate(-15deg) translateY(40px);
            transition: height 0.4s !important;
        }
        
        .swiper-offers .swiper-slide-prev{
            height: 50% !important;
            animation: fadeOut 0.3s;
            transition: height 0.4s !important;
            opacity: 0;
            transform: skew(15deg, 15deg) rotate(-15deg) translateY(80px);
        }
        .swiper-offers .swiper-slide-active{
            width: max(50%, 400px) !important;
            background-color: white !important;
            transform: skew(15deg, 15deg) rotate(-15deg) translateY(0px) translateX(40px);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            height: 100% !important;
            transition: height 0.4s !important;
            opacity: 1;
        }
        @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
        @keyframes fadeOut {
            0% { opacity: 1;}
            99% { opacity: 0; }
            100% { opacity: 0;}
        }
        .swiper-offers .swiper-slide-duplicate-next,.swiper-slide-duplicate-next{
            opacity: 0 !important;
        }

        .swiper-offers #arrow {
            background: red;
            display: inline-block;
            height: 55px;
            margin-left: 20px;
            margin-top: 55px;
            position: relative;
            width: 100px;
        }
        .swiper-offers #arrow:before {
            border-bottom: 35px solid red;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
            content: "";
            height: 0;
            left: 0;
            position: absolute;
            top: -35px;
            width: 0;
        }
        .swiper-offers #btn-right{
            
        }

        div:has(>#pointer){
            display: flex;
            flex-direction: row;
        }
        .reverse{
            transform: rotate(0deg) scaleX(-1) translateX(-20px);
        }
        .forward{
            transform: translateX(-20px);
        }
        #pointer {
            width: 20px;
            height: 32px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        #pointer:before {
            content: "";
            position: absolute;
            right: -12px;
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 12px solid #ff5700;
            border-top: 16px solid transparent;
            border-bottom: 16px solid transparent;
        }
        .grabbable {
            cursor: pointer;
        }

        /* (Optional) Apply a "closed-hand" cursor during drag operation. */
        .grabbable:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
    </style>


    <!-- Swiper -->
    <div class="py-4">
        <div class="swiper-offers mySwiperOffers" style="position: relative;">
            <span class="fade-left" style="background-color: red;height: 100px;"></span>
            <span class="fade-right"></span>
            <div class="swiper-wrapper grabbable">
                each item, index in items
                    <div class="swiper-slide position-relative">
                        <img src="#{item}" alt="">
                        <div class="position-absolute" style="bottom: 10px; left: 0; right: 0;">
                        </div>
                    </div>
            </div>

            <div style="display: flex; position: absolute; left: 0; bottom: 10px; width: 60% !important;" class="text-primary p-4">
                <div style="z-index: 3;">
                    <i class="m-4 forward bg-primary btn-next" id="pointer">
                        <i class="fas fa-angle-right"></i>
                    </i>

                    <i class="m-4 reverse bg-primary btn-prev" id="pointer">
                        <i class="fas fa-angle-right"></i>
                    </i>
                </div>
                <div style="flex-grow: 1; text-align: end;">
                    <a class="fw-bolder cursor-pointer text-primary" style="text-decoration: none;" >#{more} <i class="fas fa-angle-left"></i></p>
                    <hr style="width: 80%; margin-right: 20%; z-index: 0;">
                </div>
            </div>

        </div>
    </div>
    <div id="arrow"></div>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
    .
        var swiper = new Swiper(".mySwiperOffers", {
            slidesPerView: 'auto',
            spaceBetween: 10,
            slidesPerGroup: 1,
            observeParents: true,
            preventClicksPropagation: true,
            loopPreventsSlide: true,
            grapCursor: true,
            loop: true,
            centeredSlides:false,
            loopFillGroupWithBlank: true,
            speed: 1000,
            navigation: {
                nextEl: ".btn-next",
                prevEl: ".btn-prev",
            },
        });
        
    </script>