include _components/slider-h
include _components/car-card
include _components/slider-offers-3
include _components/nav-bar


doctype html
html(lang="ar" dir="rtl")
    head
        include _components/shared-head
        title تواصل معنا
        <style>
        .
            .form-contact .form-control-c{
                background-color: white !important;
                border: none;
                padding-bottom: 16px;
                border-bottom: 3px solid var(--bs-primary-color);
            }
            .form-contact .form-control-c::placeholder{
                color: grey;
            }
            .form-contact .form-control-c:active,.form-contact .form-control:focus{
                box-shadow: none;
                border-color: black;
            }
            .form-contact textarea{
                border: 2px solid var(--bs-primary-color);
                border-radius: 18px;
                padding: 24px;
                resize: none;
            }
            .form-contact textarea::placeholder{
                color: var(--bs-grey-400);
            }
            #map {
                height: 380px;
                width: 98%;
                margin-inline: auto;
                border-radius: 16px;
                margin-bottom: 24px;
            }
            .type-card {
                display: flex;
                width: 100%;
                background: #fafafa;
                padding: 15px;
                margin-bottom: 20px;
                border-radius: 15px;
                box-shadow: 0px 2px 15px -8px rgb(0 0 0 / 31%);
                justify-content: space-between;
                align-items: center;
            }
            .type-card p {
                margin-bottom: 0;
                color: grey;
                user-select: none;
            }
            .type-card i {
                color: #ff5700;
            }
        </style>
    body(style="overflow-x: hidden;") 
        +nav-bar("contact")

        <!-- banner with info -->
        <div class="row" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./assets/bg-contact.jpg); background-size: cover; background-position: center center; height: 92vh;">
            <div class="col-12 col-md-6 p-4">
                <div class="mx-4 text-white">
                    br
                    br
                    br
                    h1 تواصل معنا 
                    p(class="mb-4 fw-light fs-6") نرحب دائماً بجميع رسائلك سواء كانت استفسارات شكاوى أو اقتراحات لتحسين مستوى الخدمة
                    <div class="d-flex justify-content-between">
                        <div>
                            h5(class="text-primary mb-3") العنوان
                            p(class="text-white pb-1 mb-0") شارع العربية - الدمام 12
                            p(class="text-white") المملكة العربية السعودية
                            <br/>
                            <br/>
                            h5(class="text-primary") البريد الإلكتروني
                            a(class="text-white fs-6" style="text-decoration: none;" href="mailto:Support@SYARATK.com.sa") Support@SYARATK.com.sa
                        </div>
                        <div>
                            h6(class="text-primary") رقم الجوال
                            p(class="text-white pb-1" style="direction: ltr; text-align: end;") +966 123 4567
                            <br/>
                            <br/>
                            <div class="text-white user-select-none">
                                <i class="cursor-pointer fab fa-facebook-square"></i>
                                <i class="cursor-pointer mx-2 fab fa-linkedin-in"></i>
                                <i class="cursor-pointer mx-2 fab fa-twitter"></i>
                                <i class="cursor-pointer mx-2 fab fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-0 col-md-6 d-none d-md-inline-block" style="height: 100%;">
                <img alt="contact illustration" src="./assets/contact-img.png" style="height: 80%;margin-top: 10%; opacity: 0.9;"/>
            </div>
        </div>
        </div>

        <!-- form contact us -->
        <div class="text-center form-contact container">
            h1(style="border-bottom: 2px solid #e7e7e7; display: inline-block;", class="text-primary pb-4 m-4") ابقى على تواصل
            <form class="row g-3" id="contact_form">
                <div class="col-md-5 offset-md-2 my-4">
                    <input type="text" class="form-control form-control-c" id="in_name" placeholder="الاسم" required>
                </div>
                <div class="col-md-5 my-4">
                    <input type="email" class="form-control form-control-c" id="in_email"  required placeholder="بريدك الإلكتروني">
                </div>
                <div class="col-md-5 offset-md-2 my-4">
                    <input type="text" class="form-control form-control-c" id="in_title"  required placeholder="عنوان الرسالة">
                </div>
                <div class="col-md-5 my-4 search-type">
                    <div class="type-card">
                        <!-- حول الزرار دا لقائمة select يختار بين شكاوى ومقترحات -->
                        <p>مقترحات</p>
                        <i class="fa-solid fa-chevron-down text-primary cursor-pointer"></i>
                    </div>
                </div>
                <div class="col-md-12 position-relative">
                    <!-- ضيف رمز الدبوس -->
                    <i style="position: absolute; top: -38px; left: 60px; width: 40px; height: 90px; background-image: url(./assets/paper-clip.png); background-repeat: no-repeat;"></i>
                    <textarea type="text" rows="6" class="form-control" id="in_message"  required placeholder="رسالتك"></textarea>
                </div>

                <div class="col-12 text-start mb-4 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg px-4" style="width: 200px;">إرسال الرسالة</button>
                </div>
            </form>
        </div>

        <!-- Map geolocation -->            
        <div class="text-center">
            h3(class="text-dark display-5") موقعنا
            p(class="fs-6") أقرب إليك مما تتخيل !

            <br/>

            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
            <div id="map"></div>
        
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"defer></script>
 
            <script>
            .
                // Initialize and add the map
                function initMap() {
                    const uluru = { lat: 24.8614079, lng: 46.7175068 };
                    const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 16,
                        center: uluru,
                    });
                    const marker = new google.maps.Marker({
                        position: uluru,
                        map: map,
                    });
                }

                window.initMap = initMap;
            </script>
        </div>

        include _components/footer
+footer("contact")


        
