include _components/slider-h
include _components/car-card
include _components/slider-offers-3
include _components/nav-bar


doctype html
html(lang="ar" dir="rtl")
    head
        include _components/shared-head
        title تواصل معنا
        <link rel="stylesheet" href="./css/contact.css">
        <script src="./js/contact.js" defer></script>
        
    body(style="overflow-x: hidden;")
        +nav-bar("contact")

        <!-- banner with info -->
        <div class="row __contact-bg">
            <div class="col-12 col-md-6 p-4">
                <div class="mx-4 text-white">
                    br
                    br(class="d-none d-md-block")
                    br(class="d-none d-md-block")
                    h1 تواصل معنا 
                    p(class="mb-4 fw-light fs-6") نرحب دائماً بجميع رسائلك سواء كانت استفسارات شكاوى أو اقتراحات لتحسين مستوى الخدمة
                    <div class="d-flex justify-content-between flex-wrap">
                        <div>
                            h5(class="text-primary mb-2") العنوان
                            p(class="text-white pb-1 mb-0") شارع العربية - الدمام 12
                            p(class="text-white") المملكة العربية السعودية
                            <br class="d-none d-sm-block"/>
                            <br class="d-none d-sm-block"/>
                            h5(class="text-primary") البريد الإلكتروني
                            a(class="text-white fs-6 text-decoration-none" href="mailto:Support@SYARATK.com.sa") Support@SYARATK.com.sa
                        </div>
                        <div>
                            h6(class="text-primary") رقم الجوال
                            p(class="text-white pb-1 d-ltr text-end") +966 123 4567
                            <br class="d-none d-sm-block"/>
                            <br class="d-none d-sm-block"/>
                            <div class="text-white user-select-none">
                                <i class="text-clickable fab fa-facebook-square"></i>
                                <i class="text-clickable mx-2 fab fa-linkedin-in"></i>
                                <i class="text-clickable mx-2 fab fa-twitter"></i>
                                <i class="text-clickable mx-2 fab fa-instagram"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-0 col-md-6 d-none d-md-inline-block overflow-hidden h-100">
                <img alt="contact illustration" src="./assets/contact-img.png" style="height: 80%;margin-top: 10%; opacity: 0.9;"/>
            </div>
        </div>
        </div>

        <!-- form contact us -->
        <div class="text-center form-contact container">
            h1(class="text-primary pb-4 m-4 __title") ابقى على تواصل
            <form class="row g-3" id="contact_form">
                <div class="col-md-5 offset-md-2 my-4">
                    <input type="text" class="form-control form-control-c" id="in_name" placeholder="الاسم" required>
                </div>
                <div class="col-md-5 my-4">
                    <input type="email" class="form-control form-control-c" id="in_email"  required placeholder="بريدك الإلكتروني">
                </div>
                <div class="col-md-5 offset-md-2 my-4">
                    <input type="text" class="form-control form-control-c" id="in_title"  required placeholder="عنوان الرسالة">
                </div>
                <div class="col-md-5 my-4 search-type">
                    <select class="col-4 form-select text-secondary position-relative mb-4" aria-label="Default select example">
                        <option selected value="suggestion">مقترحات</option>
                        <option value="issues">شكاوى</option>
                    </select>
                </div>
                <div class="col-md-12 position-relative">
                    <i class="__paper-clip"></i>
                    <textarea type="text" rows="6" class="form-control" id="in_message"  required placeholder="رسالتك"></textarea>
                </div>

                <div class="col-12 text-start mb-4 mt-4">
                    <button type="submit" class="btn btn-primary btn-lg px-4" style="width: 200px;">إرسال الرسالة</button>
                </div>
            </form>
        </div>

        <!-- Map geolocation -->            
        <div class="text-center">
            h3(class="text-dark display-5") موقعنا
            p(class="fs-6") أقرب إليك مما تتخيل !
            <br/>
            
            //- DON'T reposition these scripts
            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly" defer></script>
        </div>

        include _components/footer
        +footer("contact")