include _components/slider-v

<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    include _components/shared-head
    <link href="./css/home.css" rel="stylesheet">
    <title>الصفحة الرئيسية</title>
</head>
  <body>
    include _components/nav-bar
    +slider-v([1,2,3,4,5,6,7,8,9])
  </body>
</html>