include _components/slider-h
include _components/slider-v
include _components/nav-bar
include _components/car-card


doctype html
html(lang="en", dir="rtl")
    head
        include _components/shared-head
        title سيارات جديدة
    body 
        +nav-bar('new')
        
        <div class="position-relative" style="height: calc(100% - 78px)">
            +slider-v(false,["../assets/slider-3.jpg","../assets/slider-4.jpg","../assets/slider-1.jpg"])
            
            <div class="position-absolute top-0 bottom-0 right-0 left-0 d-flex align-items-center justify-content-center w-100" style="z-index: 10;flex-direction: column;">
                <div class="text-white" style="display: flex; flex-direction: column; gap: 16px;  position: absolute; left: 40px; bottom: 80px; align-items: center; justify-content: center; z-index: 11;">
                    <i class="fa-brands cursor-pointer fa-whatsapp"></i>
                    <i class="fa-brands cursor-pointer fa-twitter"></i>
                    <i class="fa-brands cursor-pointer fa-facebook-f"></i>
                    <i class="fa-brands cursor-pointer fa-youtube"></i>
                    <i class="fa-brands cursor-pointer fa-instagram"></i>
                </div>
            </div>
        </div>

        +slider-h("تصفح السيارات حسب الماركة","جميع الماركات",false,[
            {img: "./../assets/brands-1.png", title: 'sedan'},
            {img: "./../assets/brands-2.png", title: 'sedan'},
            {img: "./../assets/brands-3.png", title: 'sedan'},
            {img: "./../assets/brands-4.png", title: 'sedan'},
            {img: "./../assets/brands-5.png", title: 'sedan'},
            {img: "./../assets/brands-6.png", title: 'sedan'},
            {img: "./../assets/brands-7.png", title: 'sedan'},
            {img: "./../assets/brands-8.png", title: 'sedan'},
            {img: "./../assets/brands-9.png", title: 'sedan'},
            {img: "./../assets/brands-10.png", title: 'sedan'},
            {img: "./../assets/brands-11.png", title: 'sedan'},
            ])
        <div class="container text-center w-100 my-4">
            h1(style="border-bottom: 2px solid #e7e7e7; display: inline-block;", class="text-primary pb-4 m-4") أحدث السيارات
            <div class="fs-5 fw-bold my-4 grid row gap-3 gap-lg-0">
                <label style="display: flex; gap: 8px;" class="ps-4 col-12 col-lg-6">
                span البحث بالاسم
                <input type="text" placeholder="ابحث هنا" style="flex-grow: 1; height: 36px; padding-inline: 8px;" class="fs-6 placeholder-secondary"/>
                </label>
                <label style="display: flex; gap: 8px;"class="col-5 col-lg-3">
                span الموديل
                <input type="number" placeholder="2022" style="flex-grow: 1;height: 36px; padding-inline: 8px;" class="fs-7 p-1 border-none placeholder-secondary w-100"/>
                </label>
                <label style="display: flex; gap: 8px;" for="order-select-cards" class="px-0 px-lg-2 col-6 col-lg-3">
                span السعر
                <div class="dropdown fs-7 text-secondary border-secondary">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span style="flex-grow: 1">من أقل إلى أعلى</span> <i class="fas fa-angle-down text-primary"></i></button>
                    <ul class="dropdown-menu">
                    <li>من أقل إلى أعلى</li>
                    <li>من أعلى إلى أقل</li>
                    </ul>
                </div>
                </label>
            </div>
            <div  style="display: grid; grid-template-columns: repeat( auto-fit, max(23%, 240px)); gap: 24px; place-content: center center;">
                +car-card
                +car-card
                +car-card
                +car-card
                +car-card
                +car-card
                +car-card
                +car-card
            </div>
        </div>

         +slider-h("تصفح السيارات حسب الشكل","جميع السيارات",true,[
            {img: "./../assets/s-1.png", title: 'ميكرو'},
            {img: "./../assets/s-2.png", title: 'سيدان'},
            {img: "./../assets/s-3.png", title: 'اس يو في'},
            {img: "./../assets/s-4.png", title: 'بيك اب'},
            {img: "./../assets/s-5.png", title: 'روستر'},
            {img: "./../assets/s-6.png", title: 'كاب روليت'},
            {img: "./../assets/s-7.png", title: 'هاتش باك'},
            {img: "./../assets/s-8.png", title: 'فان'},
            {img: "./../assets/s-9.png", title: 'سوبر كار'},
            {img: "./../assets/s-10.png", title: 'كوبي'}
            ])
            
        include _components/search-panel
        include _components/footer