include _components/slider-h
include _components/car-card
include _components/slider-offers-3
include _components/nav-bar


doctype html
html(lang="ar" dir="rtl")
    head
        include _components/shared-head
        title سيارات مستعملة
    body 
        +nav-bar("used")

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Launch demo modal</button>

        <!-- Modal -->
        
        include _components/modal-login
