include _components/slider-h
include _components/slider-v
include _components/nav-bar
include _components/car-card


doctype html
html(lang="en", dir="rtl")
    head
        include _components/shared-head
        <link rel="stylesheet" href="./css/used.css">
        title سيارات مستعملة
    body 
        +nav-bar('used')
        
        <div class="position-relative" style="height: calc(100% - 78px)">
            +slider-v(false,["./assets/slider-3.webp","./assets/slider-4.webp","./assets/slider-1.webp"])
            
            <div class="position-absolute top-0 bottom-0 right-0 left-0 d-flex align-items-center justify-content-center w-100 flex-column" style="z-index: 10;">
                <div class="text-white d-flex flex-column position-absolute justify-content-center align-items-center gap-3" style="inset: auto auto 80px 40px; z-index: 11;">
                    <i class="text-clickable fa-brands fa-whatsapp"></i>
                    <i class="text-clickable fa-brands fa-twitter"></i>
                    <i class="text-clickable fa-brands fa-facebook-f"></i>
                    <i class="text-clickable fa-brands fa-youtube"></i>
                    <i class="text-clickable fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>

        +slider-h("تصفح السيارات حسب الماركة","جميع الماركات",false,[
            {img: "././assets/brands-1.webp", title: 'sedan'},
            {img: "././assets/brands-2.webp", title: 'sedan'},
            {img: "././assets/brands-3.webp", title: 'sedan'},
            {img: "././assets/brands-4.webp", title: 'sedan'},
            {img: "././assets/brands-5.webp", title: 'sedan'},
            {img: "././assets/brands-6.webp", title: 'sedan'},
            {img: "././assets/brands-7.webp", title: 'sedan'},
            {img: "././assets/brands-8.webp", title: 'sedan'},
            {img: "././assets/brands-9.webp", title: 'sedan'},
            {img: "././assets/brands-10.webp", title: 'sedan'},
            {img: "././assets/brands-11.webp", title: 'sedan'},
            {img: "././assets/brands-12.webp", title: 'sedan'},
            ])
        <div class="container text-center w-100 my-4">
            h1(style="border-bottom: 2px solid #e7e7e7;", class="text-primary pb-4 m-4 d-inline-block") أحدث السيارات
            <div class="fs-5 fw-bold my-4 grid row gap-3 gap-lg-0 px-4">
                <label class="ps-4 col-12 col-lg-6 d-flex gap-2">
                    span(class="w-max-content") البحث بالاسم
                    <input type="text" placeholder="ابحث هنا" class="fs-6 placeholder-secondary __search-bar" style="max-width: calc(100% - 120px);"/>
                </label>
                <label style="max-width: calc(100% - 26px);"class="col-12 col-lg-3 p-0 m-0 d-flex gap-2">
                    span الموديل
                    <input type="number" placeholder="2022" class="fs-7 p-1 border-none placeholder-secondary w-100 __search-bar"/>
                </label>
                <label style="max-width: 100%;" for="order-select-cards" class="px-0 px-lg-2 col-12 col-lg-3 max-w-100 d-flex gap-2">
                    span السعر
                    <select class="form-select text-secondary" aria-label="Default select example">
                        <option selected value="ascending">من أقل إلى أعلى</option>
                        <option value="decending">من أعلى إلى أقل</option>
                    </select>
                </label>
            </div>
            <div class="__car-grid">
                +car-card(false, "./details-used.html")
                +car-card(false, "./details-used.html")
                +car-card(false, "./details-used.html")
                +car-card(false, "./details-used.html")
                +car-card(false, "./details-used.html")
                +car-card(false, "./details-used.html")
                +car-card(false, "./details-used.html")
                +car-card(false, "./details-used.html")
            </div>
            <div class="w-100 text-start my-4">
                <a href="./used-more.html" class="text-decoration-none fw-bolder p-4 cursor-pointer text-clickable text-start text-primary" style="z-index:3;">اظهر الكل  <i class="fas fa-angle-left"></i></a>
            </div>
        </div>

         +slider-h("تصفح السيارات حسب الشكل","جميع السيارات",true,[
            {img: "././assets/s-1.png", title: 'ميكرو'},
            {img: "././assets/s-2.png", title: 'سيدان'},
            {img: "././assets/s-3.png", title: 'اس يو في'},
            {img: "././assets/s-4.png", title: 'بيك اب'},
            {img: "././assets/s-5.png", title: 'روستر'},
            {img: "././assets/s-6.png", title: 'كاب روليت'},
            {img: "././assets/s-7.png", title: 'هاتش باك'},
            {img: "././assets/s-8.png", title: 'فان'},
            {img: "././assets/s-9.png", title: 'سوبر كار'},
            {img: "././assets/s-10.png", title: 'كوبي'}
            ])
            
        include _components/search-panel
        include _components/footer
        +footer("used")